<!DOCTYPE html>
<html>
    <head>
    <title>Online Snake Game under 90 lines of Javascript - CodeGovu.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/snake.css" />
</head>
<body>
<div class="container">
    <div id="welcome" style="display: block;">
        <ul>
            <% 
                for (var i=0;i< Math.min(10, leaderBoard.length);i++) { 
                var player = leaderBoard[i];
                if (player.displayName!="") {
            %>
            <li class="<% print(i %2 ==0 ? "odd" : ""); %>">
                <% print(player.displayName);%>
                <span class="score"><% print(player.score.toFixed(0));%></span>
            </li>
            <% }} %>
        </ul>
        <input type="button" class="btn" onClick="document.getElementById('canvas').style.display='block';document.getElementById('welcome').style.display='none';start();" value="start"/>
    </div>
    <canvas id="canvas" style="display: none;" width="450" height="480"></canvas>
    <div id="gameOver" style="display:none;">
        <form method="post" action="/index/save">
            <h1>Game Over!</h1><br/><br/>
            Enter your name:
            <input type="text" name="displayName" value="<% print(displayName!=null ? displayName : ""); %>"/><br/>
            <input type="hidden" name="score" id="score"/>
            <input type="submit" class="btn" value="submit"/>
        </form>
    </div>
</div>
<script type="text/javascript" src="/static/snake.js"></script>
</body>
</html>